body{
	font-family: Lato, Helvetica;
}

.navbar{
	padding-top: 5px;
	background-color: #272822;
}

.navbar-menu a{
	text-decoration: none;
	color :white;
	font-family: sans-serif;
}
.navbar-menu ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-menu ul li{
	padding-bottom: 10px;
}


.list li{
	margin-bottom: 15px;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;	
}


.demogrid{
	display: grid;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border:solid;
}

.demogrid > * {
	border: solid 1px;
}

.gridcell1{
	background-color:#A71553;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	grid-row: 1;
	grid-column:1 / span 2;
}
.gridcell2{
	background-color: #F1144A;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1;
	grid-column:3;
}
.gridcell3{
	background-color: #D3031D;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1;
	grid-column:4;

}
.gridcell4{
	background-color: #DF6413;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1;
	grid-column:5;

}
.gridcell5{
	background-color:#E2BA00;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	grid-row: 2 / 4;
	grid-column:1 / span all;

}
.gridcell6{
	background-color: #548710;
	display: flex;
	grid-row: 4 / 5;
	grid-column: 1 / 3;


}
.gridcell7{
	background-color:#166B2A;
	display: flex;
	justify-content: flex-end;
	grid-row: 5 / 6;
	grid-column: 1 / 3;

}
.gridcell8{
	background-color: #006078;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-row: 4 / span 2;
	grid-column: 3 / span 3;

}
.gridcell9{
	background-color: #1685BD;
	display: flex;
	justify-content: center;
	grid-row: 6 / span 1;
	grid-column: 1 / span 5;
	border-bottom:none;

}

.gridcell10{
	background-color: #1685BD;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-row: 7 / span 2;
	grid-column: 1 / span 3;
	border-top: none;

}

.gridcell11{
	background-color: #9071B4;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row: 7 / span 2;
	grid-column: 4 / span 2;

}

.summary{
	display: flex;
	flex-direction: column;
	align-items: center;
}



footer {
	color: white;
	background-color : #272822;
}
footer h4{
	padding-left: 10px;
	padding-top: 10px;
}


footer ul {
	display : flex;
	flex-direction : row;
	justify-content: space-around;
	list-style: none;
}

footer ul li {
	padding-top: 15px;
	padding-bottom: 15px;

}

footer ul li a{
	text-decoration: none;
	color:#23c3ef;
}




@media only screen and (max-device-width : 700px) {
	.navbar-menu ul{
	flex-direction: column;
	}
	footer ul {
		flex-direction: column;
	}

}