.navbar{
	padding-top: 5px;
	background-color: #272822;
}

.navbar-menu a{
	text-decoration: none;
	color :white;
	font-family: sans-serif;
}
.navbar-menu ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-menu ul li{
	padding-bottom: 10px;

}

.intro{
	display: flex;
	align-items: center;
	flex-direction: column;
}


/* container général contenant tout la grille (il y a la navbar au dessus et le footer en dessous,
je n'ai pas jugé pratique de les inclure dans la grille comme ça je ne fais qu'une ligne)*/

.container{
	display: grid;
	grid-template-columns: 10% auto 10% ;
	grid-template-rows: 100% ;
	grid-template-areas: "leftside main rightside";
}


/* la première colonne, à gauche, vide*/

.leftside{
	grid-area: leftside;
}

/* la troisième colonne, à droite, vide*/
.rightside{
	grid-area: rightside;
}

/* la deuxième colonne, celle du milieu, tout le contenu est dedans.
	A part les h2, tout est repartitionné en div*/


main{
	grid-area: main;
}

/* une section = une propriété = une ligne
	C'est dans ces div que je mets le flex pour les blocs de code et les exemples.
*/
.section{
	display: flex;
	padding : 10px;
	justify-content: space-between;
}



.codeblock{
	background-color: #272822;
	color :white;
	width:33%;
	font-family: sans-serif;
	padding-left: 15px;
}


.example{
	width:33%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}

.examplebis{
	width:33%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

}



.example div{
	border: solid 1px;
	margin-bottom: -1px;
	margin-left: -1px;
	display :flex;
	justify-content: center;
	align-items: center;
}

.example-grid-item{
	background-color: #872657;
}

/* template-area */

#template-area {
	grid-template-areas: "un deux" "trois quatre";
}

.A {
	grid-area: un;
	background-color: #B060FFFF;
}

.B {
	grid-area: deux;
	background-color: #FF61B3FF;
}

.C {
	grid-area: trois;
	background-color: #2BFF80FF;
}

.D {
	grid-area: quatre;
	background-color: #61A8FFFF;
}


button{
	background-color: transparent;
	color: white;
	border-width:1px;
	margin-bottom: 2px;
}

footer {
	color: white;
	background-color : #272822;
}
footer h4{
	padding-left: 10px;
	padding-top: 10px;
}


footer ul {
	display : flex;
	flex-direction : row;
	justify-content: space-around;
	list-style: none;
}

footer ul li {
	padding-top: 15px;
	padding-bottom: 15px;

}

footer ul li a{
	text-decoration: none;
	color:#23c3ef;
}


@media only screen and (max-device-width : 700px) {
	.navbar-menu ul{
	flex-direction: column;
	}
	footer ul {
		flex-direction: column;
	}

}