/*
browser-sync ./ --no open --no ui --no notify -s -f "./main.css"
*/

body {
    margin: 0;
    padding:  0;
}

.grid > div {
    background-color: #ccc;
    border: solid 1px #999;
}

.grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column-gap: 20px;
}