body {
	font-family: Lato, Helvetica;
	display : grid;
	grid-template-columns: 10% auto 10% ;
	grid-template-rows: 5% auto 5% ;
	grid-template-areas :"hd hd hd"
						 "lside main rside"
						 "ft ft ft";
						}

header {
	grid-area: hd;
	background-color: #272822;
}

footer {
	grid-area: ft;
	background-color: #272822;
}

main {
	grid-area: main;
}

#leftside {
	grid-area : lside;
}

#rightside {
	grid-area : rside;
}

p{
	line-height: 30px;
	padding-top: 20px;
}
 a{
	text-decoration: none;
	color: white;
}
.navbar-menu ul{
	list-style: none;
	/*border-bottom: solid;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container{
	margin-top: 30px;
	margin-right: 60px;
	margin-bottom: 30px;
	margin-left: 80px;
}

.hero-unit{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	





h1{
	padding-top: 20px;
}

.up{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.up button{
	width: 100px;
}

.ressources{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 200px;
}

footer {
	color: white;
	background-color : #272822;
}
footer h4{
	padding-left: 10px;
	padding-top: 10px;
}


footer ul {
	display : flex;
	flex-direction : row;
	justify-content: space-around;
	list-style: none;
}

footer ul li {
	padding-top: 15px;
	padding-bottom: 15px;

}

footer ul li a{
	text-decoration: none;
	color:#23c3ef;
}

@media only screen and (max-device-width : 700px) {
	.navbar-menu ul{
	flex-direction: column;
	}
	footer ul {
		flex-direction: column;
	}

}