body {
	font-family: sans-serif;
}

p{
	line-height: 30px;
	padding-top: 20px;
}
.navbar-menu a{
	text-decoration: none;
	color: black;
}
.navbar-menu ul{
	list-style: none;
	border-bottom: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container{
	margin-top: 30px;
	margin-right: 60px;
	margin-bottom: 30px;
	margin-left: 80px;
}

.hero-unit{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	





h1{
	padding-top: 20px;
}


li{
	padding-bottom: 10px;
}
.up{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.up button{
	width: 100px;
}

.ressources{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 200px;
}