body {
	display : grid;
	grid-template-columns: 10% auto 10% ;
	grid-template-rows: 50px auto 50px ;
	grid-template-areas :"hd hd hd"
						 "lside main rside"
						 "ft ft ft";
						}

/* navbar */
						 
header {
	grid-area : hd;
}

.navbar-menu a{
	text-decoration: none;
	color :black;
	font-family: sans-serif;
}
.navbar-menu ul{
	list-style: none;
	border-bottom: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

li{
	padding-bottom: 10px;
}

/* main content */

main {
	grid-area : main;
}

/* footer */

footer {
	background-color : #C2CDDEFF ;
	grid-area : ft;
	display :flex;
	justify-content : cente;
}

/* aside left & right */

#leftside {
	grid-area : lside;
}

#rightside {
	grid-area : rside;
}


.container {
	display :flex;
	justify-content: space-between;
	padding : 10px;
}

.exemple {
	width : 33%;
	border : 3px solid black;
	display : flex;
}

.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #272822;
	color:white;
	border : 1px solid white;
	height : 40px;
	width : 40px;
}

.code {
	background-color: #272822;
	color : white;
	width : 33%;
	font-family: sans-serif;
	padding-left :15px;
}

p.letter {
	padding : 0 10px 0 10px;
}