body {
	display : grid;
	grid-template-columns: 10% auto 10% ;
	grid-template-rows: 5% auto 5% ;
	grid-template-areas :"hd hd hd"
						 "lside main rside"
						 "ft ft ft";
						}

/* navbar */
						 
header {
	grid-area : hd;
	background-color: #272822;
}

.navbar-menu a{
	text-decoration: none;
	color : white;
	font-family: sans-serif;
}
.navbar-menu ul{
	list-style: none;
	/*border-bottom: solid;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*li{
	padding-bottom: 10px;
}*/

/* main content */

main {
	grid-area : main;
}

/* footer */

footer {
	background-color : #C2CDDEFF ;
	grid-area : ft;
	display :flex;
	justify-content : cente;
}

/* aside left & right */

#leftside {
	grid-area : lside;
}

#rightside {
	grid-area : rside;
}


.container {
	display :flex;
	justify-content: space-between;
	padding : 10px;
	height : 230px;
}

.exemple {
	width : 35%;
	border : 3px solid black;
	display :flex;
	justify-content: none;
	align-items: none;
	flex-direction: none;
	order: 0;
	/*align-self*/
	flex-wrap: nonwrap;
	/*flex-flow*/
	align-content: none;
}

.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #272822;
	color:white;
	border : 1px solid white;
	height : 40px;
	width : 40px;
}

.code {
	background-color: #272822;
	color : white;
	width : 35%;
	font-family: sans-serif;
	padding-left :15px;
}

p.letter {
	padding : 0 10px 0 10px;
}

#ex9 {
	flex-wrap: wrap;
}

.carre1 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #272822;
	color:white;
	border : 1px solid white;
	height : 40px;
	width : 40px;
}

.carre2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: #272822;
	color:white;
	border : 1px solid white;
	height : 40px;
	width : 40px;
}