body {
	display : grid;
	grid-template-columns: 10% auto 10% ;
	grid-template-rows: 5% auto 5% ;
	grid-template-areas :"hd hd hd"
						 "lside main rside"
						 "ft ft ft";
						}

/* navbar */
						 
header {
	grid-area : hd;
	background-color: #272822;
}

a{
	text-decoration: none;
	color : white;
	font-family: sans-serif;
}
.navbar-menu ul{
	list-style: none;
	/*border-bottom: solid;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer ul {
	display : flex;
	flex-direction : row;
	justify-content: space-around;
	list-style: none;
}

.footer ul a{
	color:#23c3ef;
}

span{
	color: red;
}

/*li{
	padding-bottom: 10px;
}*/

/* main content */

main {
	grid-area : main;
}

/* footer */

footer {
	color: white;
	background-color : #272822;;
	grid-area : ft;
}

/* aside left & right */

#leftside {
	grid-area : lside;
}

#rightside {
	grid-area : rside;
}


.container {
	display :flex;
	justify-content: space-between;
	padding : 10px;
	height : 230px;
}

.exemple {
	width : 35%;
	border : 3px solid black;
	display :flex;
}

.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #272822;
	color:white;
	border : 1px solid white;
	height : 40px;
	width : 40px;
}

.code {
	background-color: #272822;
	color : white;
	width : 35%;
	font-family: sans-serif;
	padding-left :15px;
}

p.letter {
	padding : 0 10px 0 10px;
}

#ex9 {
	flex-wrap: wrap;
}

.carre {
	display: flex;
	justify-content: center;
	
	background-color: #272822;
	color:white;
	border : 1px solid white;
	
	width : 40px;
	height: auto;
}

/* Order section */
#order-item1{
	order: 0;
}

#order-item2{
	order: 2;
}

#order-item3{
	order: 2;
}

#order-item4{
	order: 4;
}

#main-order-item , #main-align-self-item {
	background-color: #872657;
}

/* align-self section */

#ex6 {
	align-items : flex-start;
}


button{
	background-color: transparent;
	color: white;
	border-width:1px;
	margin-bottom: 2px;
}


.warning{
	background-color: #FF415DFF;
}

